* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

body {
	background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(img/back.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	font-family: Lato;
	font-weight: 300;
	color: #555;
	position: relative;
}

.wrapper {
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);
	background-color: #fff;
	box-shadow: 0 10px 50px rgba(0,0,0, 0.3);
	overflow: hidden;
	height: 600px;
}

.player-0-panel,
.player-1-panel {
	width: 50%;
	float: left;
	height: 600px;
	padding: 100px;
}

.player-name {
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
}
.player-score {
	font-size: 80px;
	font-weight: 100;
	text-align: center;
	margin-bottom: 130px;
	color: #EB4D4D;
	
}

.active {
	background-color: #f7f7f7;
}
.active .player-name {
	font-weight: 300;
	color: #EB4D4D;
}

.active .player-name::after {
	content: "\2022";
	font-size: 50px;
	font-weight: 300;
	color: #EB4D4D;
	top: -7px;
	right: 10px;
}

.player-current-box {
	width: 40%;
	background-color: #EB4D4D;
	margin: 0 auto;
	text-align: center;
	padding: 12px;
	color: #fff;
}

.player-current-label {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 10px;
	color: #222;
}
.player-current-score {
	font-size: 30px;
}
button {
	position: absolute;
	width: 200px;
	background: #00171F;
	left: 50%;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
	font-family: Lato;
	font-weight: 300;
	transform: translateX(-50%);
	border: 1px solid #00171F;
	color: #fff
}

.btn-new {
	top: 45px;
}
.btn-roll {
	top: 403px;
}
.btn-hold {
	top: 467px;
}

button:hover {
	font-weight: 700;
	margin-right: 4px;
}

button:focus {
	outline: none;
}
.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.final-score {
	position: absolute;
	top: 520px;
	left: 50%;
	transform: translateX(-50%);
	width: 160px;
	font-family: "Lato";
	font-size: 18px;
	text-align: center;
	padding: 10px;
	
}

.winner {
	background-color: #f7f7f7;
}
.winner.player-name {
	font-weight: 300;
	color: #EB4D4D;
}































